.mx-datepicker-range {
  width: 100%;
}

.btn {
  &.btn-same-w {
    width: 100px;
  }
}

.card-body-height {
  min-height: 93px;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.card {
  .card-header {
    &.card-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btn-sm {
        line-height: 1.2;
      }
    }
  }
}